<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089864977986-bb3de7acvh5qg3t37t25a4cahf038no9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089864977986-bb3de7acvh5qg3t37t25a4cahf038no9</string>
	<key>API_KEY</key>
	<string>AIzaSyAy1z3HDT16WSh4kgXSt-4eV2y83p3xnFM</string>
	<key>GCM_SENDER_ID</key>
	<string>1089864977986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazuhiroowada.iCoffee</string>
	<key>PROJECT_ID</key>
	<string>icoffee-208d6</string>
	<key>STORAGE_BUCKET</key>
	<string>icoffee-208d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089864977986:ios:46899162fcc6b1114f27db</string>
</dict>
</plist>